:host {
    --he-button-cursor-loading: default;
    --he-button-cursor-hover: pointer;
    --he-button-cursor-disabled: not-allowed;
    --he-button-clr-bg: white;
    --he-button-border-width: 0.1rem;
    --he-button-border-color: rgba(0, 0, 0, 0.2235294118);
    --he-button-border-color-hover: rgba(0, 0, 0, 0.2235294118);
    --he-button-clr-hover: black;
    --he-button-font-size: 14px;
    --he-button-height: 35px;
    --he-button-width: auto;
    --he-button-clr: black;
    --he-clr-bg-primary: hsl(200, 50%, 50%);
    --he-clr-primary: hsl(0, 0%, 100%);
    --he-clr-bg-primary-hover: hsl(200, 50%, 60%);
    --he-clr-primary-hover:var(--he-clr-primary);

    display: inline-block;
    text-wrap: nowrap;
    border-radius: 2px;
    outline-style: none;
    box-shadow: none !important;
}

#he-button {
    position: relative;
    border-radius: inherit;
    color: inherit;
    padding: inherit;
    vertical-align: middle;
    text-align: center;
    font-size: var(-he-button-font-size);
    background-color: var(--he-button-clr-bg);
    outline-style: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
    cursor: inherit;
    color: var(--he-button-clr);
    height: var(--he-button-height);
    width: var(--he-button-width);
    border-width: var(--he-button-border-width);
    border-style: solid;
    border-color: var(--he-button-border-color);
    padding: 0px 10px;
}

:host([disabled]) #he-button {
    background-color: #d9d9d9;
    color: #666666;
    cursor: var(--he-button-cursor-disabled);
    text-shadow: none;
}

:host(:not([loading]):not([disabled]):hover) #he-button,
:host(:not([loading]):not([disabled]):active) #he-button,
:host(:not([loading]):not([disabled]):focus) #he-button {
    cursor: var(--he-button-cursor-hover);
    text-shadow: 0px 0px 0.3px var(--he-button-clr-border-hover);
    border-color: var(--he-button-border-color-hover);
    color: var(--he-button-clr-hover);
}

:host(:not([loading]):not([disabled]):hover) #he-button {
    background-color: color-mix(in srgb, var(--he-button-clr-bg), black 2%)
}

:host([loading]) #he-button {
    background-color: #d9d9d9;
    color: #6666668c;
    cursor: var(--he-button-cursor-loading);
    text-shadow: none;
}

:host([loading]) #he-button::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: var(--he-button-clr-spinner, black);
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

:host([ok]) #he-button::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-bottom-color: var(--he-button-clr-spinner, black);
    border-right-color: var(--he-button-clr-spinner, black);
    transform: rotate(45deg);
}

:host([theme=primary]) #he-button {
    border-color: transparent;
    background-color: var(--he-clr-bg-primary);
    color: var(--he-clr-primary);
}

:host([theme=primary]:not([loading]):not([disabled]):hover) #he-button,
:host([theme=primary]:not([loading]):not([disabled]):active) #he-button,
:host([theme=primary]:not([loading]):not([disabled]):focus) #he-button {
    background-color: var(--he-clr-bg-primary-hover);
    color: var(--he-clr-primary-hover);
    border-color: transparent;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
