:host {
    --he-button-cursor-loading: default;
    --he-button-cursor-hover: pointer;
    --he-button-cursor-disabled: not-allowed;
    --he-button-border-width: 0.1rem;
    --he-button-font-size: 14px;
    --he-button-height: 35px;
    --he-button-width: auto;

    --he-button-clr: black;
    --he-button-clr-bg: white;
    --he-button-clr-bg-hover: hsl(240 4.8% 95.9%);
    --he-button-border-color: hsl(240 4.9% 83.9%);
    --he-button-border-color-hover: var(--he-button-border-color);

    --he-theme-clr: var(--he-clr-accent, black);
    --he-theme-clr-b1: hsl(from var(--he-theme-clr) h s calc(l + 10));
    --he-theme-contrast: white;

    display: inline-block;
    text-wrap: nowrap;
    border-radius: 2px;
    outline-style: none;
    box-shadow: none !important;
}

:host([theme=danger]) {
    --he-theme-clr: hsl(0 72.2% 50.6%);
    --he-theme-clr-b1: hsl(from var(--he-theme-clr) h s calc(l + 10));
    --he-theme-contrast: white;
}

:host([theme=warning]) {
    --he-theme-clr: hsl(32.1 94.6% 43.7%);
    --he-theme-clr-b1: hsl(from var(--he-theme-clr) h s calc(l + 10));
    --he-theme-contrast: white;
}

:host([theme=success]) {
    --he-theme-clr: hsl(142.1 76.2% 36.3%);
    --he-theme-clr-b1: hsl(from var(--he-theme-clr) h s calc(l + 10));
    --he-theme-contrast: white;
}

:host([theme][variant]), 
:host([theme]) {
    --he-button-clr: var(--he-theme-clr);
    --he-button-clr-hover: var(--he-theme-contrast);
    --he-button-clr-bg: var(--he-theme-contrast);
    --he-button-clr-bg-hover: var(--he-theme-clr);
    --he-button-border-color: var(--he-theme-clr);
    --he-button-border-color-hover: var(--he-theme-clr);
}

:host([variant=primary]) {
    --he-button-clr: var(--he-theme-contrast);
    --he-button-clr-hover: var(--he-theme-contrast);
    --he-button-clr-bg: var(--he-theme-clr);
    --he-button-clr-bg-hover: var(--he-theme-clr-b1);
    --he-button-border-color: var(--he-theme-clr);
    --he-button-border-color-hover: var(--he-theme-clr-b1);
}

:host([variant=ghost]) {
    --he-button-border-color: white;
    --he-button-border-color-hover: var(--he-button-clr-bg-hover);
}
:host([variant=ghost][theme]) {
    --he-button-clr: var(--he-theme-clr);
    --he-button-clr-hover: var(--he-theme-contrast);
    --he-button-clr-bg: var(--he-theme-contrast);
    --he-button-clr-bg-hover: var(--he-theme-clr);
    --he-button-border-color: var(--he-theme-contrast);
    --he-button-border-color-hover: var(--he-theme-clr);
}

#he-button {
    position: relative;
    border-radius: inherit;
    padding: inherit;
    vertical-align: middle;
    text-align: center;
    font-size: var(-he-button-font-size);
    background-color: var(--he-button-clr-bg);
    outline-style: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
    cursor: inherit;
    color: var(--he-button-clr);
    height: var(--he-button-height);
    width: var(--he-button-width);
    border-width: var(--he-button-border-width);
    border-style: solid;
    border-color: var(--he-button-border-color);
    padding: 0px 10px;
}

:host([disabled]) #he-button {
    opacity: 0.5;
    cursor: var(--he-button-cursor-disabled);
}

:host(:not([loading]):not([disabled]):hover) #he-button,
:host(:not([loading]):not([disabled]):active) #he-button,
:host(:not([loading]):not([disabled]):focus) #he-button {
    background-color: var(--he-button-clr-bg-hover);
    border-color: var(--he-button-border-color-hover);
    cursor: var(--he-button-cursor-hover);
    color: var(--he-button-clr-hover);
}

:host([loading]) #he-button {
    opacity: 0.5;
    cursor: var(--he-button-cursor-loading);
}

:host([loading]) #he-button::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: var(--he-button-clr-spinner, black);
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

:host([ok]) #he-button::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-bottom-color: var(--he-button-clr-spinner, black);
    border-right-color: var(--he-button-clr-spinner, black);
    transform: rotate(45deg);
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
