:host {
    --he-combo-button-border-radius: 3px;
    --he-combo-button-border-width: 0.1rem;
    --he-combo-button-border-color: lightgrey;
    --he-combo-button-clr-bg: white;
    --he-combo-button-clr: black;
    --he-combo-button-sep-width: 0.05rem;
    --he-combo-button-sep-color: lightgrey;
    --he-combo-button-height: 35px;

    display: inline-block;
    height: var(--he-combo-button-height);
}

#popover {
    inset: unset;
    outline: none;
    border: 1px solid grey;
    border-radius: var(--he-select-border-radius, 3px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: min-content;

    & #slot-menu {
        display: flex;
        flex-direction: column;

        &::slotted(he-button) {
            --he-button-width: 100%;
            --he-button-border-color: transparent;
            --he-button-border-color-hover: transparent;
        }
    }
}

#cont-buttons {
    display: flex;
    border-radius: var(--he-combo-button-border-radius);
    border-style: solid;
    border-width: var(--he-combo-button-border-width);
    width: fit-content;
    height: fit-content;
    border-color: var(--he-combo-button-border-color);

    & #slot-button::slotted(he-button) {
        --he-button-border-radius: 0;
        --he-button-border-width: 0;
    }

    & button {
        border-radius: 0;
        outline: none;
        border: none;
        background-color: var(--he-combo-button-clr-bg);
        color: var(--he-combo-button-clr);
        border-left-color: var(--he-combo-button-sep-color);
        border-left-width: var(--he-combo-Button-sep-width);
        border-left-style: solid;;
    }
}
