
#menubar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid grey;
    padding: 0 15px;
    z-index: 100;
}

#breadcrumb {
    display: flex;
    gap: 15px;

    & * + *:before {
      padding: 4px;
      color: grey;
      content: "/\00a0";
      position: absolute;
      font-weight: 500;
      left: -16px;
      top: 0px;
      font-size: 20px;
    }

    & > * {
        position: relative;
        padding: 5px 5px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;

        &:hover {
            transition: background-color 0.2s;
            background-color: hsl(from white h s calc(l - 5));
        }

        &:last-child {
            font-size: 20px;
            font-weight: 700;
            color: steelblue;
        }
    }
}

#btn-home {
    padding: 5px 10px;

    &::before {
        font-family: 'Font Awesome 5 Pro';
        content: "\f015";
        font-style: normal;
        font-weight: 800;
    }
}

#btn-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        transition: background-color 0.2s;
        background-color: hsl(from white h s calc(l - 5));
    }

    &::before {
        font-family: 'Font Awesome 5 Pro';
        content: "\f0c9";
        font-style: normal;
        font-size: 20px;
    }
}

#img-main {
    margin-left: auto;
    transform: scale(0.8);
}
