#popover {
    --he-popover-border-color: hsl(240 5.9% 90%);
    --he-popover-border-radius: 3px;

    inset: unset;
    outline: none;
    border: 1px solid var(--he-popover-border-color);
    border-radius: var(--he-popover-border-radius);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

