:host {
    height: 1.8rem;
    width: fit-content;
    font-size: 14px;
    min-width: 60px;
    display: inline-block;
}

:host([disabled]) {
    pointer-events: none;
    color: hsl(from var(--he-select-clr, black) h s calc(l + 50))
}

#inp {
    position: relative;
    background-color: var(--he-select-clr-bg, whitesmoke);
    border: 1px solid lightgrey;
    width: 100%;
    height: inherit;
    min-width: inherit;
    padding: 0.3rem 0.4rem;
    border-radius: 3px;
    outline: none;
    text-align: left;
    padding-right: 25px;
    text-wrap: nowrap;
    color: inherit;
}

#inp:hover {
    transition:
        border-color 0.2s;
    cursor: pointer;
    border-color: var(--he-select-clr-border-hover, grey);
}

#inp::after {
    content: "▼";
    position: absolute;
    font-size: 10px;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 4px auto auto;
}

#popover {
    inset: unset;
    outline: none;
    border: 1px solid grey;
    border-radius: var(--he-select-border-radius, 3px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: min-content;
}

#cont-options {
    display: flex;
    flex-direction: column;
    background-color: var(--he-select-clr-bg, white);
    max-height: 300px;
    overflow: auto;
    overscroll-behavior: contain;
}

#cont-options option {
    padding: 5px 10px;
    border-radius: 3px;
    text-align: left;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

#cont-options option[selected] {
    background-color: var(--he-select-clr-bg-hover, whitesmoke);
}

#cont-options option:hover:not(:disabled) {
    background-color: var(--he-select-clr-bg-hover, whitesmoke);
    cursor: pointer;
}

#filter {
    --he-input-border-radius: 2px;
    width: 100%;
    min-width: 50px;
}

