:host {
    --he-select-backgroundColor: whitesmoke;
    --he-select-borderColor: lightgrey;
    --he-select-borderWidth: 1px;
    --he-select-borderRadius: 3px;
    --he-select-hover-borderColor: grey;
    --he-select-color: black;
    --he-select-padding: 0.3rem 0.4rem;
    --he-select-popover-borderRadius: 4px;
    --he-select-option-hover-backgroundColor: whitesmoke;
    --he-select-option-selected-backgroundColor: whitesmoke;
    --he-select-after-margin: auto 4px auto auto;
    --he-select-after-content: "▼";
    --he-select-after-fontSize: 10px;
    --he-select-disabled-color: hsl(from var(--he-select-color) h s calc(l + 50));

    height: 1.8rem;
    width: fit-content;
    font-size: 14px;
    min-width: 60px;
    display: inline-block;
}

:host([disabled]) {
    pointer-events: none;
    color: var(--he-select-disabled-color);
}

:host([variant="underline"]) {
    #inp {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }
}

#inp {
    position: relative;
    background-color: var(--he-select-backgroundColor);
    border-width: var(--he-select-borderWidth);
    border-radius: var(--he-select-borderRadius);
    border-color: var(--he-select-borderColor);
    border-style: solid;
    font-size: inherit;
    width: 100%;
    height: inherit;
    min-width: inherit;
    padding: var(--he-select-padding);
    outline: none;
    text-align: left;
    padding-right: 25px;
    text-wrap: nowrap;
    color: inherit;
}

#inp:hover {
    transition:
        border-color 0.2s;
    cursor: pointer;
    border-color: var(--he-select-hover-borderColor);
}

#inp::after {
    content: var(--he-select-after-content);
    position: absolute;
    font-size: var(--he-select-after-fontSize);
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: var(--he-select-after-margin);
}

#popover {
    inset: unset;
    outline: none;
    border: 1px solid grey;
    border-radius: var(--he-select-popover-borderRadius);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: min-content;
}

#cont-options {
    display: flex;
    flex-direction: column;
    background-color: var(--he-select-clr-bg, white);
    max-height: 300px;
    overflow: auto;
    overscroll-behavior: contain;
}

#cont-options option {
    padding: 5px 10px;
    border-radius: 3px;
    text-align: left;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

#cont-options option[selected] {
    background-color: var(--he-select-option-selected-backgroundColor);
}

#cont-options option:hover:not(:disabled) {
    background-color: var(--he-select-option-hover-backgroundColor);
    cursor: pointer;
}

#filter {
    width: 100%;
    min-width: 50px;
}

