a {
    outline: none;
}

#cont-sidebar {
    position: fixed;
    left: 0;
    top: 51px;
    height: calc(100vh - 51px);
    width: 300px;
    display: flex;
    z-index: 10;
}

#cont-pagetree {
    display: none;
    height: 100%;
    padding: 20px;
    padding-top: 0;
}

#pagetree {
    overflow: auto;
    margin-top: 10px;
    height: 90%;
}

#sidebar {
    border-right: 1px solid grey;
    background-color: white;
    width: 100%;
}

#header {
    padding: 8px 20px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;

    & #btn-hide {
        margin-left: auto;
    }
}

#cont-user {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    font-weight: 500;

    & > * {
        color: black;
        padding: 8px 10px;
        text-decoration: none;
        border-radius: 4px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;

        &:hover {
            transition: background-color 0.2s;
            background-color: whitesmoke;
        }
    }
}

.main,
.navCont {
    margin-left: 300px;
}

#resizer {
  z-index: 2;
  cursor: col-resize;
  height: 100%;
  width: 4px;
  margin-left: -2px;
}

#opener {
    display: block;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    height: 100%;
    left: 0;
    width: 10px;
    background-color: lightgrey;
}

:host([open]) #opener {
    display: none;
}

#tabs {
    --bg-color: #e6e6e6;
    display: flex;
    gap: 5px;
    padding: 4px;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--bg-color);
    border-radius: 8px;
    height: 28px;
    color: grey;
    width: fit-content;

    & > div {
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        align-items: center;

        &:hover {
            transition: color 0.2s;
            color: black;
        }
    }
}

#btn-user::before {
    font-family: 'Font Awesome 5 Pro';
    content: "\f007";
    padding-right: 6px;
    font-weight: 800;
}

#btn-pages::before {
    font-family: 'Font Awesome 5 Pro';
    content: "\f550";
    padding-right: 6px;
    font-weight: 800;
}

#btn-hide {
    height: 36px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        transition: background-color 0.2s;
        background-color: #e6e6e6;
    }
    
    &::before {
        font-family: 'Font Awesome 5 Pro';
        content: "\f053";
        font-style: normal;
    }
}

#btn-logout {

    &::before {
        font-family: 'Font Awesome 5 Pro';
        content: "\f08b";
        font-style: normal;
        padding-right: 10px;
        font-weight: 800;
    }
}

#btn-reload-rights {

    &::before {
        font-family: 'Font Awesome 5 Pro';
        content: "\f2f1";
        font-style: normal;
        padding-right: 10px;
        font-weight: 800;
    }
}


#cont-page-search {
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 4px;

    &:hover {
        transition: border-color 0.2s;
        border-color: grey;
    }
}

#inp-search {
    width: 100%;
    outline: none;
    padding: 3px 7px;
    padding-left: 0;
    font-size: 15px;
    background-color: whitesmoke;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#btn-page-search {
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 0;
    width: 35px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 0;

    &::before {
        font-family: 'Font Awesome 5 Pro';
        content: "\f002";
        font-style: normal;
    }

    &:hover {
        transition:
            font-weight 0.2s;
        font-weight: 500;
    }
    
}

#pagetree a {
    padding: 8px 10px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &:hover {
        background-color: whitesmoke;
    }
}

[data-title] {
    position: relative;
}

[data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  bottom: -26px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}

:host([tab=pages]) {
    & #btn-pages {
        transition:
            color 0.2s,
            background-color 0.2s;
        background-color: white;
        color: black;
    }

    & #cont-pagetree {
        display: block;
    }
}

:host([tab=user]) {
    & #btn-user {
        transition:
            color 0.2s,
            background-color 0.2s;
        background-color: white;
        color: black;
    }

    & #cont-user {
        display: flex;
    }
}


