:host {
    --he-table-row-backgroundColor: white;
    --he-table-column-maxWidth: 300px;
    --he-table-borderRadius: 4px;
    --he-table-header-color: black;
    --he-table-header-backgroundColor: white;
    --he-table-header-borderBottom: 1px solid black;
    --he-table-tableLayout: auto;
    --he-table-width: fit-content;
    --he-table-row-borderBottomColor: hsl(from var(--he-table-row-backgroundColor) h s calc(l - 20));

    overflow: auto;
    display: inline-block;
    scrollbar-gutter: stable both-edges;
    outline: none;
}

:host::-webkit-scrollbar {
    width: 10px !important;
}

:host::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    border-radius: 10px !important;
}

table {
    table-layout: var(--he-table-tableLayout);
    width: var(--he-table-width);
    border-spacing: 0;
    border-collapse: separate;
    border-radius: var(--he-table-borderRadius);
}

thead {
    position: sticky;
    top: -1px;
    z-index: 2;
}

thead th {
    background-color: var(--he-table-header-backgroundColor);
    color: var(--he-table-header-color);
    font-weight: 500;
    padding: 5px 0px 5px 15px;
    text-align: center;
    vertical-align: middle;
    text-wrap: nowrap;
    width: inherit;
}

:host([filter=below]) {
    & thead th {
        padding-bottom: 0;
        border-bottom: 0;
    }
}

:host([column-menu]) {
    & thead {
        & tr:first-child th {
            border-bottom: var(--he-table-header-borderBottom);
        }

        & th:not([type=check]) {
            padding: 5px 0 5px 5px;

            & .cont-colname {
                width: 100%;
                background-color: var(--he-table-header-backgroundColor);
                cursor: pointer;
                border-radius: 4px;

                &:hover {
                    transition:
                        background-color 0.2s;
                    background-color: hsl(from var(--he-table-header-backgroundColor) h s calc(l - 7));
                }
            }

            & .span-colname {
                padding: 7px 10px;
                width: fit-content;
                text-align: left;
                position: relative;

                &::after {
                    font-family: "Font Awesome 5 Pro";
                    content: "\f107";
                    color: grey;
                    width: 10px;
                    height: 15px;
                    right: 5px;
                    padding: 0 5px;
                }
            }

            &[filter] .span-colname::after {
                content: "\f0b0";
                background-color: inherit;
                color: steelblue;
            }

            &[sort=desc] .span-colname::after {
                content: "\f354";
                background-color: inherit;
                color: steelblue;
            }

            &[sort=asc] .span-colname::after {
                content: "\f357";
                background-color: inherit;
                color: steelblue;
            }

            &[sort=asc][filter] .span-colname::after {
                content: "\f0b0\f357";
                background-color: inherit;
                padding-right: 15px;
                padding-bottom: 2px;
                color: steelblue;
            }

            &[sort=desc][filter] .span-colname::after {
                content: "\f0b0\f354";
                background-color: inherit;
                padding-right: 15px;
                padding-bottom: 2px;
                color: steelblue;
            }
        }

    }
}

#diag-column {
    & #form-column {
        display: flex;
        gap: 10px;
        flex-direction: column;
        width: 250px;

        & label {
            font-weight: 500;
            font-size: 16px;
        }

        & #sel-filter-column, & #inp-filter-column {
            width: 100%;
        }

        #toggle-asc, #toggle-desc {
            width: 40%;
        }
    }
}

thead th:hover .label-sorter {
    opacity: 0.5;
}

thead th div {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    justify-content: space-between;
}

thead td {
    background-color: var(--he-table-header-backgroundColor);
    width: 0;
}

thead td:has(#check-all) {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    width: fit-content;
}

thead td:last-child {
    border-radius: 0;
    padding-right: 15px;
}

thead select {
    padding: 0px 3px;
}

thead a {
    color: rgba(255, 255, 255, 0.5411764706);
    padding-left: 5px;

}

thead a:hover {
    color: white;
}

thead .cont-filter {
    position: relative;    
    width: 100%;
}

.span-colname {
    font-weight: 600;
}

:host([filter=below]) {
    & thead tr:last-child {
        display: table-row;

        & td {
            border-bottom: var(--he-table-header-borderBottom);
        }
    }
}

thead tr:first-child th {
    border-bottom: var(--he-table-header-borderBottom);
}

thead .inp-filter {
    margin: 0;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
    outline: none;
    border: 0;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: var(--he-table-borderRadius);
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: var(--he-table-borderRadius);
}
thead tr:first-child th:first-child {
    border-top-left-radius: var(--he-table-borderRadius);
}
thead tr:first-child th:last-child {
    border-top-right-radius: var(--he-table-borderRadius);
}

thead th[type="check"] {
    padding: 14px 0 6px 0;
}

thead tr.row-filter {
    & .inp-filter {
        background-color: whitesmoke;
        border-bottom: 1px solid grey;
        font-size: 14px;
        padding: 2px 5px;
        font-weight: 700;
        width: 100%;
    }

    & td {
        overflow: hidden;
        padding: 2px 7px;
        padding-top: 0;
    }
}

tbody tr {
    background-color: var(--he-table-row-backgroundColor);
}

tbody tr:hover {
    background-color: hsl(from var(--he-table-row-backgroundColor) h s calc(l - 5));
}

/*tbody tr[selected] {*/
    /*background-color: hsl(from var(--he-table-row-backgroundColor) h s calc(l - 7));*/
/*}*/

tbody td {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: var(--he-table-column-maxWidth);
    padding: 5px 15px;
    vertical-align: middle;
    width: 0;
    border-bottom: 1px solid black;
    border-bottom-color: var(--he-table-row-borderBottomColor);
    height: 20px;
}

tbody td > * {
    filter: unset;
}

tbody td:first-child:has(he-check) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: unset;
}

tbody tr[selected] td {
    border-bottom-color: var(--he-table-row-selected-borderBottomColor, var(--he-table-row-borderBottomColor));
}


tbody td xmp {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody #row-btn-more {
    background-color: white;
    color: black;
    cursor: pointer;
    text-align: center;
}

tbody #row-btn-more td:hover {
    border-color: grey;
    background-color: whitesmoke;
}

tbody #row-btn-more td {
    padding: 0.4rem;
    border: 1px solid darkgrey;
    display: table-cell;
}

tbody #row-empty {
    &:hover {
        background-color: white;
    }

    & td {
        border-bottom: 0;
    }
}

.cont-sorters {
    display: inline-flex;
    flex-direction: column;
    font-size: 0.7rem;
    gap: 0;
    cursor: pointer;
}

.label-sorter {
    opacity: 0;
}

thead th div .label-sorter:hover {
    opacity: 1;
}

thead th div .label-sorter:has(input:checked) {
    opacity: 1;
}

.label-sorter input {
    display: none;
}

table[loading] {
    pointer-events: none;
    cursor: no-drop;
}

table[loading] tbody {
    position: relative;
}

table[loading] tbody::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(-90deg, #dbd8d8 0%, #fcfcfc 50%, #dbd8d8 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        background-position: 0% 0%
    }
    100% {
        background-position: -135% 0%
    }
}

he-form-dialog {
    --he-form-dialog-width: 350px;
}
