:host {
    overflow: auto;
    width: fit-content;
}

:host::-webkit-scrollbar {
    width: 10px !important;
}

:host::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    border-radius: 10px !important;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: var(--he-table-radius, 4px);
}

thead {
    position: sticky;
    top: 1px;
    z-index: 2;
}

thead th {
    background-color: var(--he-table-clr-bg-header, white);
    color: var(--he-table-clr-fg-header, black);
    font-weight: 500;
    padding: 7px 12px;
    text-align: center;
    vertical-align: middle;
    text-wrap: nowrap;
    width: 0;
    border-bottom: 1px solid grey;
}

thead th:hover .label-sorter {
    opacity: 0.5;
}

thead th div {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    justify-content: space-between;
}

thead td {
    background-color: #0082b4;
    padding: 0px 4px 8px 4px;
    width: 0;

}

thead td:first-child {
    display: flex;;
    align-items: center;;
    padding: 3px 15px;
    border-radius: 0;
    width: fit-content;
}

thead td:last-child {
    border-radius: 0;
    padding-right: 15px;
}

thead select {
    padding: 0px 3px;
}

thead a {
    color: rgba(255, 255, 255, 0.5411764706);
    padding-left: 5px;

}

thead a:hover {
    color: white;
}

thead .cont-filter {
    position: relative;    
    width: 100%;
}

thead .span-colname {
    position: absolute;
    left: 0.3rem;
    pointer-events: none;
    transition: 0.1s ease all;
    top: 0px;
    font-weight: 600;
}

thead .inp-filter {
    margin: 0;
    padding: 1px 5px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: transparent;
    outline: none;
    border: 0;
    color: black;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: var(--he-table-radius, 4px);
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: var(--he-table-radius, 4px);
}
thead tr:first-child th:first-child {
    border-top-left-radius: var(--he-table-radius, 4px);
    padding-top: 14px;
}
thead tr:first-child th:last-child {
    border-top-right-radius: var(--he-table-radius, 4px);
}

thead .inp-filter:focus,
.cont-filter input:not(:placeholder-shown),
.cont-filter select:has(option:checked:not([value=""])) {
    transform: translateY(7px);
    font-weight: 600;
    border-bottom: 0.1rem solid darkgrey;
    padding: 4px 5px;
    padding-bottom: 1px;
}

thead .inp-filter:focus + .span-colname, 
.cont-filter input:not(:placeholder-shown) + .span-colname,
.cont-filter select:has(option:checked:not([value=""])) + .span-colname {
    transform: translateY(-5px);
    font-size: 0.7rem;
    opacity: 1;
}

tbody {
    min-height: 15px;
}

tbody tr:nth-child(even) {
    background-color: whitesmoke;
}

tbody tr:hover {
    background-color: #dcdcdc;
}

tbody td {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    padding: 5px 15px;
    vertical-align: middle;
    width: 0;
}

tbody td:first-child {
    display: flex;
    align-items: center;
    width: fit-content;
}

tbody td xmp {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody #row-btn-more {
    background-color: var(--he-table-clr-bg-more, white);
    color: var(--he-table-clr-fg-more, black);
    cursor: pointer;
    text-align: center;
}

tbody #row-btn-more td:hover {
    border-color: grey;
    background-color: whitesmoke;
}

tbody #row-btn-more td {
    padding: 0.4rem;
    border: 1px solid darkgrey;
}

.cont-sorters {
    display: inline-flex;
    flex-direction: column;
    font-size: 0.7rem;
    gap: 0;
    cursor: pointer;
}

.label-sorter {
    opacity: 0;
}

thead th div .label-sorter:hover {
    opacity: 1;
}

thead th div .label-sorter:has(input:checked) {
    opacity: 1;
}

.label-sorter input {
    display: none;
}

table[loading] {
    pointer-events: none;
    cursor: no-drop;
}

table[loading] tbody {
    position: relative;
}

table[loading] tbody::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(-90deg, #dbd8d8 0%, #fcfcfc 50%, #dbd8d8 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        background-position: 0% 0%
    }
    100% {
        background-position: -135% 0%
    }
}
