:host {
    --he-toggle-color: black;
    --he-toggle-backgroundColor: white;
    --he-toggle-outline-borderColor: lightgrey;
    --he-toggle-checked-color: black;
    --he-toggle-checked-backgroundColor: hsl(from var(--he-toggle-backgroundColor) h s calc(l - 10));
    --he-toggle-height: 35px;
    --he-toggle-minWidth: var(--he-toggle-height);
    --he-toggle-cursor: pointer;
    --bg-color: var(--he-toggle-backgroundColor);

    background-color: var(--he-toggle-backgroundColor);
    color: var(--he-toggle-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    height: var(--he-toggle-height);
    min-width: var(--he-toggle-minWidth);
    cursor: var(--he-toggle-cursor);
    font-weight: 600;
    padding: 0 10px;
}

:host(:not(:disabled):hover) {
    transition:
        background-color 0.2s;
    background-color: hsl(from var(--bg-color) h s calc(l - 5));
}

:host([checked]) {
    --bg-color: var(--he-toggle-checked-backgroundColor);
    transition:
        color 0.2s,
        background-color 0.2s;
    color: var(--he-toggle-checked-color);
    background-color: var(--he-toggle-checked-backgroundColor);
}

:host([variant=outline]) {
    border: 1px solid var(--he-toggle-outline-borderColor);
}
